{% extends 'header.html' %}
{% load static %}

{% block content %}


<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="white">About Us</h1>
            </div> 
        </div> 
    </div> 
</header>

<div id="description" class="basic-2 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>About Us</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                Edusuite school management system is efficient software that converts the ordinary school into a smart one. We offer easy to navigate, cost & time efficient, error-free and web-based school management solutions to tackle all the hurdles of students, parents, teachers and institute faculty efficiently.
                <p>This site brings you affordable, flexible, yet effective school accounting software that helps you to get everything at your fingertips. Our experienced professionals’ design software that is customized according to your needs. Out of so many features and benefits, you get the following advantage by connecting with us</p>
                <p>Research incomes earn weekly, monthly, or yearly & Record incomes on a daily basis & keep tracking expenses.</p>
                <p>Our school accounts software is specifically designed to let you handle the accounting and finance task more effectively. Unlike traditional methods, our accounting software for schools eliminates human error, showcases transparency, and improves the performance of your school flexibly. Our school accounting management system module allows you the avail the following benefits
                </p>
            </div> <!-- end of col -->
            
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>
<div id="description" class="basic-2 mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Features</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled li-space-lg first">
                    <li class="media">
                        <i class="bullet">1</i>
                        <div class="media-body">
                            <h4>Finance Report Generation & Summary</h4>
                            <p>Bringing transparency in receiving and keeping all payments, delivering authentic reports generation to accountants, keep track of all your liabilities & produce a summary of all your monetary transactions.</p>
                        </div>
                    </li>
                    <li class="media">
                        <i class="bullet">2</i>
                        <div class="media-body">
                            <h4>Time Management Skills</h4>
                            <p>Master the art of balancing schoolwork, extracurricular activities, and personal life through efficient time management.</p>
                        </div>
                    </li>
                    <li class="media">
                        <i class="bullet">3</i>
                        <div class="media-body">
                            <h4>Payroll & Time Tracking.</h4>
                            <p>Provides employees payroll history, keep track of your employees' salary & tax integration.</p>
                        </div>
                    </li>
                </ul>
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <ul class="list-unstyled li-space-lg second">
                    <li class="media">
                        <i class="bullet">4</i>
                        <div class="media-body">
                            <h4>Inventory Management</h4>
                            <p>Basic billing and invoicing, integration with inventory management, quick report generation.</p>
                        </div>
                    </li>
                    <li class="media">
                        <i class="bullet">5</i>
                        <div class="media-body">
                            <h4>Secure Transaction</h4>
                            <p>We emphasize making each transaction secure through our unbreachable security system.</p>
                        </div>
                    </li>
                    <li class="media">
                        <i class="bullet">6</i>
                        <div class="media-body">
                            <h4>Stress Management Techniques</h4>
                            <p>Learn techniques to manage academic stress and maintain a healthy balance between school and personal life.</p>
                        </div>
                    </li>
                </ul>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>



{% endblock content %}