<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paid Students</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 10px;
            margin: 0;
            padding: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 4px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        h3 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h3>SCHOOL ACCOUNTS MANAGEMENT</h3>
    <div class="card w-100">
        <h5 class="card-header">School Transactions</h5>
        <div class="card-body">
            <table class="table table-bordered mb-4">
                <thead>
                <tr><th colspan="3">Incomes :</th></tr>
                <tr>
                    <th>ID</th>
                    <th>Finance Type</th>
                    <th>Total</th>
                </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>1</td>
                        <td>Student fee</td>
                        <td>{{ student.fee }}</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>School Finance Income</td>
                        <td>{{ school_income.sf_income }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mb-4">
                <thead>
                <tr><th colspan="3">Expense :</th></tr>
                <tr>
                    <th>ID</th>
                    <th>Finance Type</th>
                    <th>Total</th>
                </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>1</td>
                        <td>Staff salary</td>
                        <td>{{ staff.salary }}</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>School Finance expense</td>
                        <td>{{ school_expense.sf_expense }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr><th colspan="2">Total :</th></tr>
                    <tr>
                        <th>Total Income</th>
                        <td>{{ total_income }}</td>
                    </tr>
                    <tr>
                        <th>Total Expense</th>
                        <td>{{ total_expense }}</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    </body>
</html>
