{% extends 'master/header.html' %}
{% block content %}
{% load static %}

<div class="container-fluid dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Academic Year</h3>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Academic Year</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            {% if messages %}
                {% for message in messages %}
                <h6 class="alert alert-success">{{message}}</h6>       
                {% endfor %}
            {% endif %} 
            
            {% if data %}
            <div class="card">
                <h5 class="card-header">Academic Years</h5>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Academic Year</th>
                                <th>Period</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            <tr {% if i.current_ay %}class="table-active"{% endif %}>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.academic_year}}</td>
                                <td>{{i.start_date|date:"d M Y"}} - {{i.end_date|date:"d M Y"}}</td>
                                <td>
                                    {% if i.current_ay %}
                                        <div class="badge badge-success">Current Academic Year</div>
                                    {% elif i.start_date > current_date %}
                                        <div class="badge badge-info">Upcoming</div>
                                    {% elif i.end_date < current_date %}
                                        <div class="badge badge-secondary">Completed ({{i.start_date|date:"M Y"}} - {{i.end_date|date:"M Y"}})</div>
                                    {% else %}
                                        <div class="badge badge-secondary">Previous</div>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}

