{% extends 'master/header.html' %}
{% block content %}
{% load static %}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Academic Year</h3>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Academic Year</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- ============================================================== -->
        <!-- basic form -->
        <!-- ============================================================== -->
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
            {% if messages %}
                {% for message in messages %}
                <h6 class="alert alert-success">{{message}}</h6>       
                {% endfor %}
            {% endif %} 
            <div class="card">
                <h5 class="card-header">Academic Year</h5>
                <div class="card-body">
                    <form action="{% url 'edit_academic_year' %}" method="post" id="myform">
                        {% csrf_token %}
                        <div class="row">
                            <input type="hidden" name="ay_id" value="{{data.ay_id}}">
                            <div class="form-group col-12"><label for="type">Academic Year</label></div>
                            <div class="form-group col-5">
                                <input type="number" name="academic_year" value="{{data.academic_year|slice:':4'}}" required="" id="syear" class="form-control">
                            </div>
                            <div class="form-group col-2"><h4 class="align-middle text-center">-</h4></div>
                            <div class="form-group col-5">
                                <input type="text" value="{{data.academic_year|slice:'5:'}}" id="eyear" readonly class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        
    </div>
</div>

<script>
    document.getElementById("syear").addEventListener("input", function (e) {
        if (this.value.length == 4){
            document.getElementById("eyear").value = parseInt(this.value)+1;
        }
        });


    </script>
  
<script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'Validation/jquery_validate.js' %}"></script>
<script src="{% static 'Validation/additional_validate.js' %}"></script>

<script>
    (function ($, W, D) {
        var JQUERY4U = {};
        JQUERY4U.UTIL = {
            setupFormValidation: function () {
                // Add regex validation method
                $.validator.addMethod(
                    "regex",
                    function (value, element, regexp) {
                        var check = false;
                        return this.optional(element) || regexp.test(value);
                    },
                    "Not a valid Input."
                );
    
                // Form validation rules
                $("#myform").validate({
                    ignore: [],
                    rules: {
                        academic_year: {
                            required: true,
                            digits: true,
                            minlength: 4,
                            maxlength: 4,
                            regex: /^[1-9]\d{3}$/,
                            
                        },
                    },
                    messages: {
                        academic_year: {
                            required: "Academic year is required.",
                            digits: "Please enter a valid year.",
                            minlength: "The year must be 4 digits.",
                            maxlength: "The year must be 4 digits.",
                            regex: "The year must be a valid year.",
                            remote: "Academic year already exists."
                        }
                    },
                    submitHandler: function (form) {
                        form.submit();
                    }
                });
            }
        }
    
        // When the DOM has loaded, setup form validation rules
        $(D).ready(function ($) {
            JQUERY4U.UTIL.setupFormValidation();
        });
    })(jQuery, window, document);
    </script>

{% endblock content %}

