{% extends 'master/header.html' %}
{% block content %}
{% load static %}

<div class="container-fluid  dashboard-content">
    <!-- ============================================================== -->
    <!-- pagehader  -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Dashboard </h3>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- pagehader  -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- metric -->
        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">School Accounts Managment</h5>
                    <div class="metric-value d-inline-block">
                        <h3 class="mb-1 text-primary">Admin Home</h3>
                    </div>
                    <div class="metric-label d-inline-block float-right text-success">
                    </div>
                    <div class="mt-3">
                        <a href="{% url 'blockchain_view' %}" class="btn btn-primary">View Student Registration Blockchain</a>
                    </div>
                </div>
                <div id="sparkline-1"></div>
            </div>
        </div>
        <!-- /. metric -->
        <!-- metric -->
        <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Total Books</h5>
                    <div class="metric-value d-inline-block">
                        <h3 class="mb-1 text-primary">{{b}}</h3>
                    </div>
                    <div class="metric-label d-inline-block float-right text-danger">
                    </div>
                </div>
                <div id="sparkline-2"></div>
            </div>
        </div> -->
        <!-- /. metric -->
        <!-- metric -->
        <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Total Students</h5>
                    <div class="metric-value d-inline-block">
                        <h3 class="mb-1 text-primary">{{s}}</h3>
                    </div>
                    <div class="metric-label d-inline-block float-right text-danger">
                    </div>
                </div>
                <div id="sparkline-3">
                </div>
            </div>
        </div> -->
        <!-- /. metric -->
        <!-- metric -->
        <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Total Staff</h5>
                    <div class="metric-value d-inline-block">
                        <h3 class="mb-1 text-primary">{{st}}</h3>
                    </div>
                    <div class="metric-label d-inline-block float-right text-success">
                    </div>
                </div>
                <div id="sparkline-4"></div>
            </div>
        </div> -->
        <!-- /. metric -->
    </div>
</div>
  

{% endblock content %}

