{% extends 'master/header.html' %}
{% block content %}
{% load static %}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">School finance</h3>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">School finance</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- ============================================================== -->
        <!-- basic form -->
        <!-- ============================================================== -->
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
            {% if messages %}
                {% for message in messages %}
                <h6 class="alert alert-success">{{message}}</h6>       
                {% endfor %}
            {% endif %} 
            <div class="card">
                <h5 class="card-header">School finance</h5>
                <div class="card-body">
                    <form action="{% url 'school_finance' %}" method="post" id="myform">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="type">Account category</label>
                                <select name="account_category" required="" class="form-control form-control-sm">
                                    <option value="">--Select--</option>
                                    <option value="Income">Income</option>
                                    <option value="Expense">Expense</option>
                                </select>
                            </div>
                            <div class="form-group col-12">
                                <label for="type">Finance type</label>
                                <input type="text" name="finance_type" required="" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 pl-0">
                                <p class="text-right">
                                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
            {% if data %}
            <div class="card">
                <h5 class="card-header">School finance</h5>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Account category</th>
                                <th>Finance type</th>
                                <th colspan="2">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.account_category}}</td>
                                <td>{{i.finance_type}}</td>
                                <td><a href="{% url 'edit_school_finance' %}?sf_id={{i.sf_id}}" class="btn btn-primary btn-xs">Edit</a></td>
                                <td>
                                    {% if i.status == True %}
                                    <a href="{% url 'status_school_finance' %}?sf_id={{i.sf_id}}&status=0" class="btn btn-danger btn-xs">Disable</a>
                                    {% else %}
                                    <a href="{% url 'status_school_finance' %}?sf_id={{i.sf_id}}&status=1" class="btn btn-success btn-xs">Enable</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>       
    </div>
</div>
  
<script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'Validation/jquery_validate.js' %}"></script>
<script src="{% static 'Validation/additional_validate.js' %}"></script>

<script>
    (function ($, W, D)
    {
    var JQUERY4U = {};
    JQUERY4U.UTIL =
    {
    setupFormValidation: function ()
    {
    $.validator.addMethod(
    "regex",
    function(value, element, regexp) {
    var check = false;
    return this.optional(element) || regexp.test(value);
    },
    "Not a valid Input."
    );
    
    //form validation rules
    $("#myform").validate({
    ignore: [],
    rules: {
                
        level: {
                        required: true,
                    },

               
              },
              messages: {

                password: "Please Enter Valid Password Name(8-15 digit alphanumeric  password  and must include @#*!%^& special character,any Number",
                cpas: "Please Enter Valid Password Name(5-15 digit alphanumeric confirm password and same as above password and @#* also allowed",
                
    },
    submitHandler: function (form) {
    form.submit();
    }
    });
    }
    }
    //when the dom has loaded setup form validation rules
    $(D).ready(function ($) {
    JQUERY4U.UTIL.setupFormValidation();
    });
    })(jQuery, window, document);
    </script>

{% endblock content %}

