{% extends 'master/index.html' %}
{% block content %}
{% load static %}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Register staff</h3>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Register staff</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- ============================================================== -->
        <!-- basic form -->
        <!-- ============================================================== -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 m-auto">
            {% if messages %}
                {% for message in messages %}
                <h6 class="alert alert-success">{{message}}</h6>       
                {% endfor %}
            {% endif %}
            <div class="card">
                <h5 class="card-header">Register staff</h5>
                <div class="card-body">
                    <form action="{% url 'staff_register' %}" method="post" enctype="multipart/form-data" id="myform">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="">User type</label>
                                <select name="user_type" required="" class="form-control form-control-sm">
                                    <option value="">--Select--</option>
                                    <option value="Accountant">Accountant</option>
                                    <option value="Office staff">Office staff</option>
                                    <option value="Faculty">Faculty</option>
                                </select>
                            </div>
                            <div class="form-group col-12">
                                <label for="">Full Name</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-12">
                                <label for="designation_id">Designation</label>
                                <select class="form-control form-control-sm" required name="designation_id" id="designation_id">
                                    <option value="">--Select--</option>
                                    {% if designation %} 
                                      {% for i in designation %}
                                      <option value="{{i.d_id}}">{{i.designation_name}}</option>
                                      {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group col-12">
                                <label for="email" class="form-label">Email id</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                            <div class="form-group col-12">
                                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  
<script>
    drop = document.getElementById("batch");
    
    var year = new Date().getFullYear();
    
    for (var i=0;i<3;i++){
      var opt = document.createElement("option");
      opt.text = year + "-" + (year+3);
      drop.add(opt);
      year++
    }
    </script>

<script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'Validation/jquery_validate.js' %}"></script>
<script src="{% static 'Validation/additional_validate.js' %}"></script>

<script>
    (function ($, W, D)
    {
    var JQUERY4U = {};
    JQUERY4U.UTIL =
    {
    setupFormValidation: function ()
    {
    $.validator.addMethod(
    "regex",
    function(value, element, regexp) {
    var check = false;
    return this.optional(element) || regexp.test(value);
    },
    "Not a valid Input."
    );
    
    //form validation rules
    $("#myform").validate({
    ignore: [],
    rules: {
                
                name: {
                      required: true,
                      regex : /^[A-Za-z ]+$/,
                      minlength: 3,
        
                    },
                   
                user_type: {
                        required: true,
                    },

                email: {
                     required: true,
                     regex :  /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/,
                     remote: {
                            url: '/check_email/',
                            type: 'GET',
                            data: {
                                email: function () {
                                    return $("#email").val();
                                },
                                
                            },
                            dataFilter: function (data) {
                                var json = JSON.parse(data);
                                if (json.exists) {
                                    return false; // Return false if the year exists
                                } else {
                                    return true; // Return true if the year is unique
                                }
                            }
                        }
        
                    },
                    
                
            designation_id: {
                    required: true,
                },
                
              },
              messages: {
    
                image : "Please enter a value with a valid extension. jpg|jpeg|png",
                email: {
                    remote : "Email already have account"
                },
                
    },
    submitHandler: function (form) {
    form.submit();
    }
    });
    }
    }
    //when the dom has loaded setup form validation rules
    $(D).ready(function ($) {
    JQUERY4U.UTIL.setupFormValidation();
    });
    })(jQuery, window, document);
    </script>


{% endblock content %}

