{% extends 'accountant/index.html' %}
{% block content %}
{% load static %}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Salary</h3>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Salary</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if messages %}
                {% for message in messages %}
                <h6 class="alert alert-success">{{message}}</h6>       
                {% endfor %}
            {% endif %}
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            {% if data %}
            <div class="card">
                <h5 class="card-header d-inline">Salary</h5>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th colspan="2">Staff</th>
                            <th>Academic Year</th>
                            <th>Salary total</th>
                            <th>Salary date</th>
                            <th>Salary slip</th>
                            <th colspan="2">#</th>
                        </tr>
                          </thead>
                          <tbody id="tb">
                            {% for i in data %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td><img src="{{i.staff.image}}" class="rounded" style="height: 60px; width:60px;" alt=""></td>
                                <td>
                                    {{i.staff.name}} <br>
                                    Email : {{i.staff.login.username}} <br>
                                    Contact number : {{i.staff.contact_number}}
                                </td>
                                <td>{{ i.academic_year.academic_year }}</td>
                                <td>{{i.total_salary}}</td>
                                <td>{{ i.salary_date }} </td>
                                <td>
                                    <a href="{% url 'salary_slip' %}?st_id={{ i.st_id }}" class="text-secondary">SLIP <i class="fa fa-file-pdf text-danger"></i></a>
                                </td>
                                <td>
                                    <a href="{% url 'salary_details' %}?st_id={{ i.st_id }}" class="btn btn-xs btn-primary">Salary details</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <h4>Not found any list</h4>
            {% endif %}
        </div>
        
    </div>
</div>



{% endblock content %}

