{% extends 'accountant/index.html' %}
{% block content %}
{% load static %}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Salary Transaction</h3>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Salary Transaction</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- ============================================================== -->
        <!-- basic form -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-auto">
            {% if messages %}
                {% for message in messages %}
                    <h6 class="alert alert-success">{{message}}</h6>       
                {% endfor %}
            {% endif %}
            <div class="card">
                <h5 class="card-header">Salary Transaction</h5>
                <div class="card-body">
                    <form action="{% url 'salary_transaction' %}" method="post" enctype="multipart/form-data" id="myform">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                <div class="row border rounded py-3 bg-light">
                                    <div class="col-3">
                                        <img src="{{ data.image }}" class="rounded circle img-fluid" width="100" height="100" alt="">
                                    </div>
                                    <div class="col-3">
                                        <h5>{{ data.name }}</h5>
                                        <h5>{{ data.designation.designation_name }}</h5>
                                    </div>
                                    <div class="col-6">
                                        
                                        <h5>Contact : {{ data.contact_number }}</h5>
                                        <h5>Email id : {{ data.email }}</h5>
                                        <input type="hidden" name="staff_id" value="{{ data.sr_id }}">
                                        <input type="hidden" name="salary_table_id" value="{{ bp.st_id }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="academic_year_id">Acadamic year</label>
                                        <select class="form-control form-control-sm" required name="academic_year_id" id="academic_year_id">
                                            <option value="">--Select--</option>
                                            {% if ay %} 
                                            {% for i in ay %}
                                            <option value="{{i.ay_id}}">{{i.academic_year}}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="">Salary date</label>
                                        <input type="date" min="{{chdate}}-01" value="{{chdate}}-01" name="salary_date" class="form-control" id="salary_date" required>
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="">Basic pay</label>
                                        <input type="text" readonly value="{{ bp.basic_pay }}" name="basic_pay" class="form-control" id="name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-3">
                                <label for="">Bonus</label>
                                <input type="text" name="bonus" class="form-control" id="bonus">
                            </div>
                            <div class="form-group col-3">
                                <label for="">DA %</label>
                                <input type="text" name="da" class="form-control" id="da">
                            </div>
                            <div class="form-group col-3">
                                <label for="">HRA %</label>
                                <input type="text" name="hra" class="form-control" id="hra">
                            </div>
                            <div class="form-group col-3">
                                <label for="">TA %</label>
                                <input type="text" name="ta" class="form-control" id="ta">
                            </div>
                            <div class="form-group col-3">
                                <label for="">Arrear</label>
                                <input type="number" name="arrear" class="form-control" id="arrear">
                            </div>
                            <div class="form-group col-3">
                                <label for="">Advance</label>
                                <input type="number" name="advance" class="form-control" id="advance">
                            </div>
                            <div class="form-group col-3">
                                <label for="">AGP</label>
                                <input type="text" name="agp" class="form-control" id="agp">
                            </div>
                            <div class="form-group col-3">
                                <label for="">Leave deduction</label>
                                <input type="text" readonly name="deductions" value="{{ dd }}" class="form-control" id="deduction" required>
                            </div>
                            <div class="form-group col-12">
                                
                                {% if le %}
                                <table class="table table-bordered">
                                    <tr>
                                        <th>#</th>
                                        <th>Leave type</th>
                                        <th>Number of leaves</th>
                                        <th>Allowed days</th>
                                        <th>Excess days</th>
                                    </tr>
                                    {% for i in le %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ i.leave_type__leave_type }}</td>
                                        <td>{{ i.total_days }}</td>
                                        <td>{{ i.allowed_days }}</td>
                                        <td>{{ i.excess_days }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                
                                {% endif %}
                                    
                            </div>
                            <div class="form-group col-12">
                                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'Validation/jquery_validate.js' %}"></script>
<script src="{% static 'Validation/additional_validate.js' %}"></script>

<script>
    $(function(){
        // Get the value of the date input field
        var vl = $('#salary_date').val();

        // If there is a value in the input field, use that date
        if (vl) {
            var dtToday = new Date(vl);  // Convert to a date object
        } else {
            var dtToday = new Date();  // Fallback to today's date if no value
        }

        var year = dtToday.getFullYear();
        var month = dtToday.getMonth() + 1;  // Get the current month (0-indexed, so add 1)
        
        // Get the first day of the next month, then subtract 1 day to get the last day of the current month
        var nextMonth = new Date(year, month, 1);  // First day of next month
        var lastDayOfMonth = new Date(nextMonth - 1);  // Last day of the current month
        
        var day = lastDayOfMonth.getDate();  // Get the last day number
        
        // Ensure two digits for month and day
        if (month < 10) month = '0' + month;
        if (day < 10) day = '0' + day;
        
        // Format maxDate as YYYY-MM-DD
        var maxDate = year + '-' + month + '-' + day;

        // Set the max attribute of the input field
        $('#salary_date').attr('max', maxDate);
        $('#salary_date').val(maxDate);
    });
</script>


<script>
    (function ($, W, D)
    {
    var JQUERY4U = {};
    JQUERY4U.UTIL =
    {
    setupFormValidation: function ()
    {
    $.validator.addMethod(
    "regex",
    function(value, element, regexp) {
    var check = false;
    return this.optional(element) || regexp.test(value);
    },
    "Not a valid Input."
    );
    
    //form validation rules
    $("#myform").validate({
    ignore: [],
    rules: {
                
      name: {
                      required: true,
                      regex : /^[A-Za-z ]+$/,
                      minlength: 3,
        
                    },
                   
                    contact_number: {
                        required: true,
                        digits:true,
                           minlength: 10,
                           maxlength: 10,
                           regex : /^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[6789]\d{9}$/
                    },

                   
        
                    email: {
                     required: true,
                     regex :  /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
        
                    },
                    
                
                    image: {
                    required: true,
                    extension:'jpg|jpeg|png'
                },
                username: {
                        required: true,
                        regex : /^[A-Za-z0-9@]+$/,
                        minlength: 5,
                        maxlength: 15,
        
                    },
                    password: {
                        required: true,
                         regex : /^[A-Za-z0-9@#*]+$/,
                         minlength: 5,
                        maxlength: 15,
        
                    },
                    cpas: {
                        required: true,
                           regex : /^[A-Za-z0-9@#*]+$/,
                           minlength: 5,
                          maxlength: 15,
                      equalTo: "#password"
        
                    },
                
              },
              messages: {
    
                contact_number: "Please Enter Valid 10 digit Phone Number - Starting from 6, 7 or 8 or 9",
                image : "Please enter a value with a valid extension. jpg|jpeg|png",
                username: "Please Enter Valid User Name(5-15 digit alphanumeric username",
                password: "Please Enter Valid Password Name(5-15 digit alphanumeric  password  and @#* also allowed",
                cpas: "Please Enter Valid Password Name(5-15 digit alphanumeric confirm password and same as above password and @#* also allowed",
    },
    submitHandler: function (form) {
    form.submit();
    }
    });
    }
    }
    //when the dom has loaded setup form validation rules
    $(D).ready(function ($) {
    JQUERY4U.UTIL.setupFormValidation();
    });
    })(jQuery, window, document);
    </script>

<script>
    $("#username").keyup(function () {
        $('#uname').val("");
       var username = $(this).val();
       var count = username.length;
       $('#cb').html("");
       if(count>4)
      {
       $.ajax({
             url: '/check_username/',
             data: {
                 'username': username
             },
             dataType: 'json',
             success: function (data) {
                  if (data.username_exists) {
    
    
                    $('#cb').css('color','red');
                    $('#cb').html(data.error);
    
                  }
                  else{
    
                    $('#cb').css('color','green');
                $('#cb').html(data.success);
                $('#uname').val(1);
                  }
             }
       });
    }
    });
    </script>
{% endblock content %}

