{% extends 'accountant/index.html' %}
{% block content %}
{% load static %}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Staff Salary</h3>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Staff Salary</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- ============================================================== -->
        <!-- basic form -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-auto">
            <div class="row">
                <div class="col-9">
                    {% if messages %}
                        {% for message in messages %}
                            <h6 class="alert alert-success">{{message}}</h6>       
                        {% endfor %}
                    {% endif %}
                </div>
                
                {% if ay %}
                    <div class="col-3">
                        <input type="month" class="form-control" id="chdate">
                    </div>
                {% else %}
                    <div class="alert alert-danger">Current Academic Year Not Matching Current Year, Add or Update Current Academic Year</div>
                {% endif %}
                <div class="col-12 mt-4" id="tb"></div>
            </div>           
        </div>
    </div>
</div>
  


<script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'Validation/jquery_validate.js' %}"></script>
<script src="{% static 'Validation/additional_validate.js' %}"></script>

<script>
    $(function(){
        var ay = JSON.parse('{{ json_data|safe }}');
        
        if (typeof ay === 'string') {
            var m = ay.split('-');

            var minDate = m[0] + '-01';
            var maxDate = m[1] + '-12';
            $('#chdate').attr('max', maxDate);
            $('#chdate').attr('min', minDate);
        } else {
            console.error('Expected ay to be a string, but got:', ay);
        }
    });
</script>

<script>
    $(document).on("change", "#chdate", function () {
            var chdate = $(this).val();

            $.ajax({
            url: '/search_staff_salary/',
            data: { 
                'chdate': chdate,
            },
            success: function (data) {
                $("#tb").html(data);
            }
            });
        });
</script>

<!-- <script>
    $(document).ready(function () {
        $("#academic_year_id").change(function () {
            var ay = $('#academic_year_id option:selected').html();
            var m = ay.split('-');

            var minDate = m[0] + '-01';
            var maxDate = m[1] + '-12';

            var txt = '<input type="month" min="' + minDate + '" max="' + maxDate + '" class="form-control" id="chdate">';
            $("#mo").html(txt);
            $("#tb").html('');
        });

        // Use event delegation to bind the change event to dynamically added input#chdate
        $(document).on("change", "#chdate", function () {
            var chdate = $(this).val();
            var ay_id = $('#academic_year_id').val();

            $.ajax({
            url: '/search_staff_salary/',
            data: { 
                'chdate': chdate,
                'ay_id':ay_id
            },
            success: function (data) {
                $("#tb").html(data);
            }
            });
        });
});

</script> -->
{% endblock content %}

