{% extends 'accountant/index.html' %}
{% block content %}
{% load static %}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Student Fee Transactions</h3>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Student Fee Transactions</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if messages %}
                {% for message in messages %}
                <h6 class="alert alert-success">{{message}}</h6>       
                {% endfor %}
            {% endif %}
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            {% if data %}
            <div class="card">
                <h5 class="card-header">Student Fee Transactions</h5>
                <div class="card-body">
                    <div class="row mt-0 mb-2">
                        <div class="col-3"></div>
                        <div class="col-3">
                            <select class="form-control form-control-sm" name="ay_id" id="ay_id">
                                <option value="">Choose...</option>
                                {% if ay %} 
                                {% for i in ay %}
                                <option value="{{i.ay_id}}">{{i.academic_year}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-3">
                            <select class="form-control form-control-sm" name="my" id="my">
                                <option value="">Choose to month...</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <select class="form-control form-control-sm" name="s_id" id="s_id">
                                <option value="">Choose Standard...</option>
                                {% if std %} 
                                {% for i in std %}
                                <option value="{{i.s_id}}">{{i.standard}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th colspan="2">Student</th>
                            <th>Academic Year</th>
                            <th>Fee Type</th>
                            <th>Paid Date</th>
                            <th>Amount</th>
                        </tr>
                          </thead>
                          <tbody id="tb">
                            {% for i in data %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td><img src="{{i.student.image}}" class="rounded" style="height: 60px; width:60px;" alt=""></td>
                                <td>
                                    {{i.student.name}} <br>
                                    Contact number : {{i.student.contact_number}} <br>
                                    Education level : {{ i.student.standard.educational_level.level }} <br>
                                    Standard : {{ i.student.standard.standard }}
                                </td>
                                <td>{{ i.academic_year.academic_year }}</td>
                                <td>{{i.student_fee.fee_type}} : {{ i.payment_date|date:"m-Y" }}</td>
                                <td>{{ i.created_at }} </td>
                                <td>{{ i.total_amount }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <h4>Not found any list</h4>
            {% endif %}
        </div>
        
    </div>
</div>

<script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'Validation/jquery_validate.js' %}"></script>
<script src="{% static 'Validation/additional_validate.js' %}"></script>


<script>
    $(document).ready(function () {
        function handleInputChange() {
            var ayId = $("#ay_id").val();
            var my = $("#my").val();
            var std = $("#s_id").val();

            $.ajax({
                url: '/search_student_fee/',
                data: {
                    'ay_id': ayId,
                    'my': my,
                    's_id': std,
                },
                success: function (data) {
                    $("#tb").html(data);
                }
            });
        }

        $("#ay_id, #my, #s_id").change(handleInputChange);
    });
</script>
{% endblock content %}

