{% extends 'office_staff/index.html' %}
{% block content %}
{% load static %}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Profile</h3>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- ============================================================== -->
        <!-- basic form -->
        <!-- ============================================================== -->
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 m-auto">
            {% if messages %}
                {% for message in messages %}
                <h6 class="alert alert-success">{{message}}</h6>       
                {% endfor %}
            {% endif %}
            <div class="card">
                <h5 class="card-header">Profile</h5>
                <div class="card-body">
                    <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data" id="myform">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="">Full Name</label>
                                <input type="text" value="{{ data.name }}" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-6">
                                <label for="Contact" class="form-label">Contact number</label>
                                <input type="text" value="{{ data.contact_number }}" class="form-control" name="contact_number" required>
                            </div>
                            <div class="form-group col-6">
                                <label for="email" class="form-label">Email id</label>
                                <input type="email" value="{{ data.email }}" class="form-control" name="email" required>
                            </div>
                            <div class="form-group col-6">
                                <label for="">Designation</label>
                                {{ data.designation.designation_name }}
                            </div>
                            <div class="form-group col-6">
                                <label for="address" class="form-label">Address</label>
                                <textarea class="form-control" name="address" rows="2" required>{{ data.address }}</textarea>
                            </div>
                            <div class="col-md-6">
                                <label for="image" class="form-label">Image</label>
                                <input type="file" class="form-control bg-white" required name="image" id="image">
                                
                                {% if data.image %}
                                <img src="{{data.image}}" height="50" class="rounded" width="50" alt="">
                                {% endif %}
                                    
                            </div>
                            <div class="form-group col-12">
                                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  
<script>
    drop = document.getElementById("batch");
    
    var year = new Date().getFullYear();
    
    for (var i=0;i<3;i++){
      var opt = document.createElement("option");
      opt.text = year + "-" + (year+3);
      drop.add(opt);
      year++
    }
    </script>

<script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'Validation/jquery_validate.js' %}"></script>
<script src="{% static 'Validation/additional_validate.js' %}"></script>

<script>
    (function ($, W, D)
    {
    var JQUERY4U = {};
    JQUERY4U.UTIL =
    {
    setupFormValidation: function ()
    {
    $.validator.addMethod(
    "regex",
    function(value, element, regexp) {
    var check = false;
    return this.optional(element) || regexp.test(value);
    },
    "Not a valid Input."
    );
    
    //form validation rules
    $("#myform").validate({
    ignore: [],
    rules: {
                
      name: {
                      required: true,
                      regex : /^[A-Za-z ]+$/,
                      minlength: 3,
        
                    },
                   
                    contact_number: {
                        required: true,
                        digits:true,
                           minlength: 10,
                           maxlength: 10,
                           regex : /^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[6789]\d{9}$/
                    },

                   
        
                    email: {
                     required: true,
                     regex :  /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
        
                    },
                    
                
                    image: {
                    required: true,
                    extension:'jpg|jpeg|png'
                },
                username: {
                        required: true,
                        regex : /^[A-Za-z0-9@]+$/,
                        minlength: 5,
                        maxlength: 15,
        
                    },
                    password: {
                        required: true,
                         regex : /^[A-Za-z0-9@#*]+$/,
                         minlength: 5,
                        maxlength: 15,
        
                    },
                    cpas: {
                        required: true,
                           regex : /^[A-Za-z0-9@#*]+$/,
                           minlength: 5,
                          maxlength: 15,
                      equalTo: "#password"
        
                    },
                
              },
              messages: {
    
                contact_number: "Please Enter Valid 10 digit Phone Number - Starting from 6, 7 or 8 or 9",
                image : "Please enter a value with a valid extension. jpg|jpeg|png",
                username: "Please Enter Valid User Name(5-15 digit alphanumeric username",
                password: "Please Enter Valid Password Name(5-15 digit alphanumeric  password  and @#* also allowed",
                cpas: "Please Enter Valid Password Name(5-15 digit alphanumeric confirm password and same as above password and @#* also allowed",
    },
    submitHandler: function (form) {
    form.submit();
    }
    });
    }
    }
    //when the dom has loaded setup form validation rules
    $(D).ready(function ($) {
    JQUERY4U.UTIL.setupFormValidation();
    });
    })(jQuery, window, document);
    </script>

<script>
    $("#username").keyup(function () {
        $('#uname').val("");
       var username = $(this).val();
       var count = username.length;
       $('#cb').html("");
       if(count>4)
      {
       $.ajax({
             url: '/check_username/',
             data: {
                 'username': username
             },
             dataType: 'json',
             success: function (data) {
                  if (data.username_exists) {
    
    
                    $('#cb').css('color','red');
                    $('#cb').html(data.error);
    
                  }
                  else{
    
                    $('#cb').css('color','green');
                $('#cb').html(data.success);
                $('#uname').val(1);
                  }
             }
       });
    }
    });
    </script>
{% endblock content %}

